[submodule "ext/glad-core"]
	path = ext/glad-core
	url = https://github.com/MalyshevMS/glad-gl460-core.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
